{% assign username = include.username | strip %}
<div class="repo p-2 text-center">
  <a href="https://github.com/{{ username }}">
    <img
      class="repo-img w-100"
      alt="{{ username }}"
      src="https://github-readme-stats.vercel.app/api?username={{ username }}&theme={{ site.repo_theme_light }}&show_icons=true"
    >
  </a>
</div>
